<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
      <li><%= userEmail%></li>
      <li><%= ttLogin%></li>

<script>
  var ttLogin = "<%= ttLogin%>";
  if (ttLogin){
    location.replace('/')
  }

  // var user = "<%= userName%>";
  // alert(user);
</script>

</body>

