<!--form action="/api/users" method="post"-->
<form action="/api/login" method="post"></form>
            <fieldset>
                이 름 : <input type="text" name="name" id="name" size="15"/> <br />
                네이버ID : <input type="text" name="naver_id" id="naver_id" size="12"/> <br />
                카카오ID : <input type="text" name="kakao_id" id="kakao_id" size="12"/> <br />
                휴대전화 : <input type="text" name="tel" id="tel" size="12"/> <br />                
                이메일 : <input type="text" name="email" id="email" size="14"/> <br />
                <input type="submit" value="Sign Up">
            </fieldset>
</form>
